@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 247, 104);
}

.dad{
width: 350px;
height: 350px;
background-color: rgba(226, 129, 205, 0.89);
border-radius: 50%;
margin: 25px;
display: flex;
justify-content: flex-end;
margin-right: 250px;
}

.mom{
    width: 350px;
    height: 500px;
    /* margin-top: 0px; */
    margin-left: 150px;
}

h2{
    font-family: 'Rubik Burned', system-ui;
    color: blue;
    margin-top: 0px;
}

header p{
    font-family: 'Amiri', serif;
    color: brown;
    font-size: 2rem;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.article-one{
    border: 1px solid palevioletred;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 240px;
}

.article-one h3{
    text-align: center;
    font-family: 'Amiri', serif;
    margin: 5px;
    color: #fc2efc;
}

.article-one img{
    width: 400px;
    height: 200px;

}

.article-one p{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: blueviolet;
    font-family: 'Amiri', serif;
    /* border-left: 2px solid pink; */
}

.article-one img:nth-child(odd)
{
    border-left: 2px solid rgb(216, 179, 216);
    padding-left: 10px;
}

.article-one img:nth-child(even){
    border-right: 2px solid rgb(219, 181, 219);
    padding-right: 10px;
}

.section-2{
    display: flex;
    justify-content: space-around;
margin: 20px;
}

.section-2 img{
width: 220px;
height: 200px;
border: 1px solid pink;
border-radius: 10px;
background-color: #e4b8e4;
box-shadow: 5px 5px 5px 5px rgb(209, 173, 185);
}

figure figcaption{
    color: #af1c96;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-family: 'Amiri', serif;
}

.section-2 img:hover{
    box-shadow: 0 0 5px #ff21ff,
    0 0 25px #fc2efc,
    0 0 50px #fd52fd,
    0 0 200px #d61bd6;
}

.section-3{
    display: flex;
    justify-content: center;

}

table,th,td{ 
       border: 2px solid purple;
    width: 500px;
    text-align: center;
    padding: 3px;
    margin: 10px;
    background-image: url(../image/png-transparent-cartoon-cosmetics-cartoons-cosmetics-toiletries-painted-thumbnail-removebg-preview.png);
    background-size:auto;
}

thead{
    /* background-color: #aa1eaa; */
}

td:hover{
    background-color:#ce95c4;
    color:#fff;
   }

   /* table tr:nth-child(odd){
    background-color:#eea5d6;
   }
    
   table tr:nth-child(even){
    background-color:#b94b9e;
    color:#fff;
   } */


/* footer */
   .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    background-color: #f5f5f5;
    color: #856182;
    padding: 40px 0;
  }
  
  .footer__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__column {
    width: 33.33%;
    padding: 10px;
  }
  
  .footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
    
  p {
    margin-bottom: 10px;
  }


