@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
     color: #5a2086;
    font-family: 'Rubik Burned', system-ui;
    font-size: 2rem;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #f2b3dc, #ecb4e1, #d6b7ee, #c4baf4, #babbf6 );
}

.nav{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, #f2b3dc, #ecb4e1, #d6b7ee, #c4baf4, #babbf6 );
}

nav a{
    display: inline-block;
    margin: 10px;
    align-items: center;
    color: #5e5566;
    text-decoration: none;
}

.imageone{
    margin-top: 0px;
    width: 100%;
    height: 400px;
}



.para{
    position: absolute;
    top: 135px;
    left: 350px;
    font-size: 3rem;
    font-family: 'Amiri', serif;
    color: #8a35cc;
}

.paraa{
    position: absolute;
    top: 235px;
    left: 175px;
    font-size: 3rem;
    font-family: 'Vibes', system-ui;
    color: #8a35cc; 
}

p + hr {
    position: absolute;
    top: 320px;
    left: 175px;
    border-radius: 100px;
    width: 200px;
    height: 6px;
    background-color: #583572;
}

.navone{
    width: 8rem;
    height: 4rem;
    background-color: #d7a1e7;
    position: absolute;
    top: 338px;
    left: 195px; 
    font-family: 'Amiri', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: aliceblue;
}

.navtwo{
    width: 8rem;
    height: 2.5rem;
    background-color: #670485;
    position: absolute;
    top: 404px;
    left: 195px; 
    font-family: 'Amiri', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: aliceblue; 
}

figure img {
    width: 100px;
    height: 100px;
    border: #e5b4e6 solid 3px;
    box-shadow: 0px 0px 20px rgb(67, 57, 70);
    border-radius: 50%;
}

div img:hover{
    box-shadow: 0 0 5px #ff21ff,
    0 0 25px #fc2efc,
    0 0 50px #fd52fd,
    0 0 200px #d61bd6;
}

figure figcaption{
    color: #6f1caf;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-family: 'Amiri', serif;
}

.parent {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.section-1{
    /* background-image: url(../image/iridescent-abstract-backgrounds-3_result.jpg);
    background-size: 100%; */
    display: flex;
    justify-content: space-around;
    border: 3px solid #cbb8da;
    box-shadow: 0px 0px 30px rgb(67, 57, 70);
    height: 460px;
}


section article{
            width: 30%;
            height: 150px;
            padding: 1rem;
            border: 2px solid rgb(165, 216, 236);
            border-radius: 10px 100px / 120px;;
            margin: 20px;
            font-family: 'Amiri', serif;
            color: #83609e;
            font-size: 20px;
            background-image: url(../image/iridescent-abstract-backgrounds-3_result.jpg);
            box-shadow: 0px 0px 30px rgb(160, 187, 218);
}

section img {
    box-shadow: 10px 0px 30px rgb(234, 223, 238);
    border: solid 1px #babbf6;
    border-radius: 10px 100px / 120px;;
}

