@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    width: 100vw;
}


h1{
    text-align: center;
     color: #202286;
    font-family: 'Rubik Burned', system-ui;
    font-size: 2rem;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #b3b9f2, #b4baec, #c3b7ee, #c5baf4, #cfbaf6 );
}

.nav{
    display: flex;
    justify-content: right;
    background: linear-gradient(90deg, #b3b9f2, #b4baec, #c3b7ee, #c5baf4, #cfbaf6 );
    width: 100%;
}

nav a{
    display: inline-block;
    margin: 10px;
    align-items: center;
    color: #5e5566;
    text-decoration: none;
}
/* ------------------------ */
h3{
    text-align: center;
    color: #222086;
    font-family: 'Vibes', system-ui;
    font-size: 60px;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* aside{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    border: 2px solid rgb(0, 110, 255);
} */

/* aside div{
    width: 300px;
    height: 490px;
    float: right;
    margin: 5px;
} */


.dady{
    width: 350px;
    height: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2021/02/12/16/35/forget-me-not-6009034_640.png);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

article {
    width: 250px;
    height: auto;
    border: 5px solid #ced4e0;
    /* border-radius: 70px; */
    z-index: 1;
    background-color: rgb(233, 247, 243);
}

article img {
    width: 100%;
    height: 250px;
}

img + h2{
    color: #57488b;
    text-align: center;
    text-shadow: 2px 2px 5px #ecb4e1;
}

.color{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rang{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.information{
    color: #202f86;
    text-align: center;
}

.ta{
    color: rgb(76, 0, 255);
    text-align: center;
    font-size: large;
}

.ho{
    display: flex;
    justify-content: center;
}

button{
    color: #ededf5;
    background-color: #2649bd;
    width: 50%;
    height: 50%;
    border: 2px solid #2750bd;
}



/* footer */
.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    background-color: #cde0f1;
    color: #716185;
    padding: 40px 0;
  }
  
  .footer__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__column {
    width: 33.33%;
    padding: 10px;
  }
  
  .footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
    
  p {
    margin-bottom: 10px;
  }





